.product-card {
    min-height: 180;
    padding: 24;
    display: flex;
    flex-direction: column;
}

.card {
    width: 200px;
    height: 375px;
}


.productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center align items vertically */
    height: 86%;
}

.productInfo img {
    margin-bottom: 10px;
}

.cardFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Subtitle will be on the left and CartAdd on the right */
    align-items: center;
    /* Align items vertically */
    padding-top: 10px;
}

.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    /* Center-align the Subtitle */
    width: 83%;
    /* margin-top: 8px; */
}


.productName {
    font-size: 16px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Maximum of 5 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    /* Ensures long words break instead of overflowing */
}

.score-container {
    position: absolute;
    top: 15px;
    left: 10px;
}

.scorebadge {
    box-shadow: 0 4px 14px 0px rgb(0 0 0 / 91%);
}

.scorebadge svg {
    margin-right: 5px;
}

.image-container {}