.module-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  align-items: stretch;
}
.big-text {
  font-size: 18px;

}
.medium-text {
  font-size: 14px;
  color: #6f6f6f;              /* Muted text color */
  line-height: 1.5;            /* Improved readability */
}
.progress-bar{
  background-color: #00a35c;
}
.modal-backdrop{
  background-color: #00000054;
}
.myMap{
  position: relative;
}
.cursor-pointer{
  cursor: pointer;
}

.card-blue{
    background-color: rgb(225, 247, 255);;
    border: 1px solid rgb(4, 152, 236);

}
.card-forest-green{
    background-color: #00684a;
    border: 1px solid #023430;
    color: white;
}

.card-forest-green{
    background-color: #00684a;
    border: 1px solid #023430;

}

.card-lavender{
    background-color: #f9ebff;
    border: 1px solid #f9ebff;
    color: black;
}

.card-mist{
    background-color: #e3fcf7;
    border: 1px solid #e3fcf7;
    color: black;
}

.card-lime{
    background-color: #e9ff99;
    border: 1px solid #e9ff99;
    color: black;
}
.card-lime-light{
    background-color: #e9ff9963;
    border: 1px solid #e9ff99;
    color: black;
}