.product-search{
    display: flex;
    flex-direction: row;
}
.search-input{
    min-width: 200px;
    width: 340px;
    max-width: 340px;
}
.search-selector ul{
    width: 300px;
}
.weight-input input{
    width: 160px;
}